<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wordle Solver for Samar</title>
    <style type="text/css">
        body {
            width: 70%;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div style="float: center;" id="wrapper">
        <h1 style="color: blue; font-size: 46px;">Welcome to SamWordle.</h1>
        <hr>
        <p style="color: green; font-size: 16px;"> <b> Your current Word is {{ data }} </b></p>
        <hr>
        <p> For options - you can enter B for no hit, Y for a hit but not in the correct position and G for a hit in the
            right position </p>
        <p>
            For example, if your current wordle has a
        </p>
        <img src="https://sat02pap002files.storage.live.com/y4meOuWKOPKFLCBxEQZOumiNCro57_S7lcyOUAnb18HLfWaIbYnXkqIa266SQMpAh4PQQTALQlXyA2vLs6qa8adiwVavWQYsBbgsionBsD8gMaDH8utyO2qwsaSk6MKWwajWsBcIBo7RNDCCxcZGNDUgy8pEdylcDrfcmI_Uh9LBEneEk32gVIB8acNSNXZIIIqoKEfy7xQibtoYV7GJdQiMA/wordle-example.jfif?psid=1&width=2560&height=1185"
            style="width:400px;height:50px;">
        <p> You should enter BGYGY in the textbox </p>
        <p> Refer to the following link for a Demo <a href="https://youtu.be/VZI2RRafCtw">SamWordle Demo</a>
        </p>
        <hr>
        <br>
        <br>


        <form action="" method="post">
            {% csrf_token %}
            <p style="color: red; font-size: 16px;"> {{error_msg}}</p>
            <label for="your_options">Your Options: </label>
            <input id="your_options" type="text" name="your_options">
            <input type="submit" value="OK">
        </form>
        <h4>List is </h4>
        <ul>
            {% for i in list %}
            <li>{{ i }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>