<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML Meta Tags -->
    <title>Wordle Solver for Samar</title>
    <meta name="description" content="Wordle Assist - Saving your time since 2022!">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://ankurkatiyar.pythonanywhere.com/samwordle/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Wordle Solver for Samar">
    <meta property="og:description" content="Wordle Assist - Saving your time since 2022!">
    <meta property="og:image"
        content="https://sat02pap002files.storage.live.com/y4mcUaGZcMuhrbAAlvvsct4U2MA2C8Bw8RaMHziemU-YY5IfInIiA4V8zADHa2T7ffP3u4paTk4Xkf7cWhrU6RUuDKiJJ75FMKmV7uHbvnZYCwa4T4nWZtYDR6p1Q6Xm_2sWJX9atAA03aM6QNlxDb7OkLyDvwbltb0cf1pAQy9OhNKQrczLhVd5uE5QbcpE1gE?width=593&height=401&cropmode=none">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="ankurkatiyar.pythonanywhere.com">
    <meta property="twitter:url" content="https://ankurkatiyar.pythonanywhere.com/samwordle/">
    <meta name="twitter:title" content="Wordle Solver for Samar">
    <meta name="twitter:description" content="Wordle Assist - Saving your time since 2022!">
    <meta name="twitter:image"
        content="https://sat02pap002files.storage.live.com/y4mcUaGZcMuhrbAAlvvsct4U2MA2C8Bw8RaMHziemU-YY5IfInIiA4V8zADHa2T7ffP3u4paTk4Xkf7cWhrU6RUuDKiJJ75FMKmV7uHbvnZYCwa4T4nWZtYDR6p1Q6Xm_2sWJX9atAA03aM6QNlxDb7OkLyDvwbltb0cf1pAQy9OhNKQrczLhVd5uE5QbcpE1gE?width=593&height=401&cropmode=none">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <style>
        html {
            height: 100%;
        }

        body {
            max-width: max-content;
            text-align: center;
            margin: auto;
            /*max-width: max-content;
            margin: auto;*/
            /*height: 10%;
            background-color: lightgreen;
            font-family: 'nyt-franklin-700' !important;
            margin: 0 auto;
            padding: 0;
            /* Prevent scrollbar appearing on page transition */
            /*overflow-y: hidden;*/
        }

        .word {
            background: #fffbef;
            border-radius: 4px;
            border: 1px solid #e8ddbd;
            color: #593230;
            display: inline-block;
            font-weight: 700;
            font-family: sans-serif;
            font-size: 14px;
            line-height: 26px;
            margin: 3px 1px;
            min-width: 14px;
            padding: 0 4px;
            text-align: center;
            text-transform: uppercase;
        }


        footer {
            text-align: left;
            padding: 3px;
            background-color: white;
            bottom: 1;
            position: fixed;
            color: white;
            display: block;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <br><br><br><br>
    <h1> <span style="color: rgb(35, 120, 231); font-size: 46px; font-family:sans-serif;">Wordle </span>
        <span style="color: black; font-size: 46px; font-family:sans-serif;">Assist </span>
    </h1>
    <hr>
    <h3
        style="margin: 0px; font-size: 13px; color: black; text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <span>Made for my baby boy - Samar</span>
    </h3>

    <!--
    <p> For options - you can enter B for no hit, Y for a hit but not in the correct position and G for a hit in the
        right position </p>
    <p>
        For example, if your current wordle has a
    </p>
    <img src="https://sat02pap002files.storage.live.com/y4meOuWKOPKFLCBxEQZOumiNCro57_S7lcyOUAnb18HLfWaIbYnXkqIa266SQMpAh4PQQTALQlXyA2vLs6qa8adiwVavWQYsBbgsionBsD8gMaDH8utyO2qwsaSk6MKWwajWsBcIBo7RNDCCxcZGNDUgy8pEdylcDrfcmI_Uh9LBEneEk32gVIB8acNSNXZIIIqoKEfy7xQibtoYV7GJdQiMA/wordle-example.jfif?psid=1&width=2560&height=1185"
        style="width:400px;height:50px;">
    <p> You should enter BGYGY in the textbox </p>
    <p> Refer to the following link for a Demo <a href="https://youtu.be/VZI2RRafCtw">SamWordle Demo</a>
    </p>
    <hr>-->
    <br>
    <br>


    <div class="WordleInput">
        <form action="" method="post">
            {% csrf_token %}
            <p style="color: red; font-size: 16px;"> {{error_msg}}</p>

            <label style="color: darkorange; font-size: 20px; font-family: Verdana, sans-serif;" for="guess_list">Your
                Guess Word List: </label>
            <select style="color: darkgreen; font-size: 15px; font-family: Verdana, sans-serif;" name="selected_word"
                onchange=setValue()>
                {% for guess in guess_list %}
                <option value="{{ guess }}">{{ guess }}</option>
                {% endfor %}
            </select>
            <br>
            <!-- <label for="your_options">Your Options: </label> -->
            <!--  <input id="your_options" type="text" name="your_options"> -->
            <!--<button class="btn btn-green btn-sm" onclick="request_access(this)" guess_list="{{ guess_list }}"
                select_list="{{ select_list }}" word_list="{{ word_list }}"><i class="fa fa-plus"></i> Get
                Words</button> -->
            <input type="hidden" id="Colored_Word" name="Colored_Word">

            {% for x in '01234' %}
            <input type="hidden" id="mask{{x}}" name="mask{{x}}">
            {% endfor %}

            <br>

            <div name="wordcontainer" class="container">
                <div name="words" class="words">

                    {% for char in active_word %}
                    <div style="color: darkblue; font-size: 15px; font-family: Verdana, sans-serif;" name="word"
                        class="word" onclick=selected(this)> &nbsp;</div>
                    {% endfor %}

                </div>
            </div>
            <br>
            <button class="btn btn-green btn-sm" onclick="request_access(this)" guess_list="{{ guess_list }}"
                select_list="{{ select_list }}" word_list="{{ word_list }}"><i class="fa fa-play"></i> Get
                Words</button>

            <button onclick="reset_wordle()" class="btn btn-green btn-sm"><i class="fa fa-refresh"></i> Reset
                Game</button>
            <!-- <input type="submit" value="OK"> -->
        </form>

    </div>
    <br>

    <h4 style="color: darkgreen; font-size: 15px; font-family: Verdana, sans-serif;">Selected Words </h4>
    <ul style="color: darkblue; font-size: 13px; font-family: Verdana, sans-serif;">
        {% for i in list %}
        <li style="  list-style-type: none; margin-left: -30px; padding-right: 0;">{{ i }}</li>
        {% endfor %}
    </ul>
    <br><br>
    <hr>
    <br>
    <h3 style="margin: 0px; font-size: 18px; color: black; text-align: center; font-family: Arial;">
        <span>Ankur Katiyar</span>
    </h3>
    <p style="margin: 0px; color: rgb(154, 154, 154); font-size: 14px; line-height: 22px; font-family: Arial;">
        <span>caffeine-to-code converter</span>
    </p>
    <div style="margin-left: 0px; margin-right: 5px; font-family: Arial; ">
        <a href="https://www.linkedin.com/in/ankur-katiyar/">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href=" https://twitter.com/ankurkatiyar" target="_blank">
            <i class='fa fa-twitter'></i>
        </a>
        <a href="https://github.com/ankur-katiyar" target="_blank">
            <i class="fa fa-github"></i>
        </a>
    </div>
    <a href="https://github.com/ankur-katiyar/wordle"
        style="color: black; font-size: 10px; font-family: Arial, sans-serif; text-align: left;">
        source</label>
    </a>


    <script>
        var divItems = document.getElementsByClassName("word");
        window.onload = init;

        function setValueOfColors(value) {
            if (value !== '') {
                document.getElementById("Colored_Word").setAttribute('value', value);
            }
            for (var i = 0; i < divItems.length; i++) {
                var item = divItems[i];
                //item.style.backgroundColor = 'grey';
                if (divItems[i].style.backgroundColor == 'grey') {
                    document.getElementById("mask" + i).setAttribute('value', 'B')
                }
                if (divItems[i].style.backgroundColor == 'yellow') {
                    document.getElementById("mask" + i).setAttribute('value', 'Y')
                }
                if (divItems[i].style.backgroundColor == 'green') {
                    document.getElementById("mask" + i).setAttribute('value', 'G')
                }

            }

        }

        function selected(item) {
            //this.clear();
            //console.log(item.style.backgroundColor);
            if (item.style.backgroundColor == 'grey') {
                item.style.backgroundColor = 'yellow';
            }
            else if (item.style.backgroundColor == 'yellow') {
                item.style.backgroundColor = 'green';
            }
            else if (item.style.backgroundColor == 'green') {
                item.style.backgroundColor = 'grey';
            }
            //console.log(item.style.backgroundColor);
            setValueOfColors("");
        }

        function setValue() {
            var selected_word = document.getElementsByTagName("select");
            console.log(selected_word.selected_word.value);
            for (var i = 0; i < selected_word.selected_word.value.length; i++) {
                var item = divItems[i];
                //item.style.backgroundColor = 'grey';
                item.textContent = selected_word.selected_word.value[i];
            }
            //console.log(item.style.backgroundColor);
            //document.getElementById("Colored_Word").setAttribute('value', selected_word.selected_word.value);
            setValueOfColors(selected_word.selected_word.value);
        }


        function init() {
            //const WordleInput = document.getElementsByClassName('WordleInput');
            //var selected_word = WordleInput[0].getElementsByTagName('select');

            var selected_word = document.getElementsByTagName("select");
            //console.log(WordleInput);
            console.log(selected_word.selected_word.value);
            for (var i = 0; i < selected_word.selected_word.value.length; i++) {
                var item = divItems[i];
                item.style.backgroundColor = 'grey';
                item.textContent = selected_word.selected_word.value[i];
            }
            //console.log(item.style.backgroundColor);
            //document.getElementsByTagName("Colored_Word").value = selected_word.selected_word.value;
            //document.getElementById("Colored_Word").setAttribute('value', selected_word.selected_word.value);
            //console.log(Colored_Word);
            setValueOfColors(selected_word.selected_word.value);
        }

        function reset_wordle() {
            init();
            for (var i = 0; i < divItems.length; i++) {
                document.getElementById("mask" + i).setAttribute('value', 'X');
            }
        }


        function request_access($this) {
            console.log("button clicked");
            //var guess_list = $this.guess_list;
            //var word_list = $this.word_list;
            //var select_list = $this.select_list;
            var colored_word = document.getElementsByTagName("select").selected_word.value;
            console.log("Here we go!!!");
            console.log(colored_word);

            //console.log("data: " + request_data);
            $.ajax({
                url: "/",
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', colored_word: colored_word },
                success: function (response) {
                    console.log(response);
                }
            })
        }


    </script>
</body>

<footer>
</footer>

</html>