<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wordle Solver for Samar</title>
</head>

<body>
    <h1>Welcome to SamWordle.</h1>

    <p> Starting Word is {{ data }}</p>
    <p> For options - you can enter B for no hit, Y for a hit but not in the correct position and G for a hit in the right position </p>


    <form action="" method="post">
        {% csrf_token %}
        <label for="your_options">Your Options: </label>
        <input id="your_options" type="text" name="your_options">
        <input type="submit" value="OK">
    </form>
    <h4>List is </h4>
    <ul>
        {% for i in list %}
        <li>{{ i }}</li>
        {% endfor %}
</body>

</html>
